@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* all can change ah, i just write a sample first */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, button, select{
    font: 16px 'Roboto', sans-serif;
    background: #f5f5f5;
}

main h1{
    margin-left: 20px;
}

.app-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav{
    background: #333;
    padding: 10px 0;
}

nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 15px;
    display: inline-block;
}

nav a:hover{
    background: #555;
}

button, .btn{
    background: #86bcf6;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover, .btn:hover{
    background: #4ea0f7;
}

.table{
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin: 30px 0 0 20px;
    max-width: 1000px;
}

th, td{
    border: 2px solid #000000;
    padding: 10px;
    text-align: left;
}

th{
    background: #aac4fb;
}

td form{
    display: inline-block;
}

td form select,
td form button{
    margin-right: 15px;
}

td form button {
    margin-left: 5px;
}

form{
    margin-left: 20px;
}

p{
    margin-left: 20px;
}

.success{
    background: #f8f9a3;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.error{
    background: #f8f9a3;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
}