ALTER TABLE Customer ADD COLUMN role ENUM('admin' , 'member') DEFAULT 'member';
ALTER TABLE Customer ADD COLUMN is_blocked TINYINT(1) DEFAULT 0;
ALTER TABLE Customer ADD COLUMN profile_photo VARCHAR(255) DEFAULT 'default.png';
ALTER TABLE Customer ADD COLUMN created_at DATETIME DEFAULT CURRENT_TIMESTAMP;
